{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
         <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
		{% tailwind_css %}
	</head>
    <nav class=" bg-gold flex">
        <div class="container mx-auto my-3 flex flex-col md:flex-row justify-between">
            <h3 class="text-white text-xl font-thalia self-center">Thalia lustrum game</h3>
            {% if request.session.user == None %}
                <button class="text-black text-xl font-thalia bg-white px-5 py-1 rounded-md">
                    <a href="/login">Login</a>
                </button>
            {% else %}
                <div class="flex flex-row justify-center">
                    <h3 class="text-white mr-5 text-xl font-thalia text-center self-center">Hello {{ request.session.user.name }}</h3>
                    <button class="text-black text-xl font-thalia bg-white px-5 py-1 rounded-md">
                        <a href="/logout">Logout</a>
                    </button>
                </div>
            {% endif  %}
        </div>
    </nav>
	<body class="">
		<div class="container mx-auto">
            {% if request.session.user == None %}
			<section class="flex flex-col items-center justify-center mt-20">
				<h1 class="text-5xl text-primary font-thalia">Welcome to the lustrum game!</h1>
                <h2 class="text-4xl text-primary font-thalia mt-10">Please login to see the game</h2>
			</section>
            {% else %}
                <div class="flex justify-center mx-5 md:mx-0">
                <section class="flex flex-col items-center justify-center md:w-2/3 lg:w-2/5 my-20 filter bg-primary drop-shadow-lg rounded-md">
                    <h1 class="text-5xl text-white font-thalia my-5">Your target:</h1>
                    <div class="mx-10">
                    <img class="rounded-md" src="{{ target_picture }}"  alt="Victim picture"/>
                    </div>
                    <p class="text-5xl text-center text-white font-thalia my-5">{{ target_name }}</p>
                    <button class="button bg-gold rounded-md p-3 text-white font-thalia text-2xl mb-5 transform hover:scale-110 transition ease-out">
                        Killed target
                    </button>
                </div>
            {% endif %}
		</div>
	</body>
<script>
    // JQuery open modal and on ok send modal
</script>
</html>
