{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lustrum gotcha game</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% tailwind_css %}
</head>
<nav class=" bg-gold flex shadow shadow-lg">
    <div class="container mx-auto my-3 flex flex-col md:flex-row justify-between">
        <h3 class="text-white text-xl font-thalia text-center self-center md:mt-0 mt-2">Thalia lustrum game</h3>
        {% if request.session.user == None %}
            <button class="text-black text-xl font-thalia bg-white px-5 py-1 rounded-md transform hover:scale-110 transition ease-out self-center w-auto md:mt-0 mt-2">
                <a href="/login">Login</a>
            </button>
        {% else %}
            <div class="flex md:flex-row flex-col justify-center">
                <h3 class="text-white text-xl font-thalia text-center self-center md:mt-0 mt-2 md:mr-5 mr-0">
                    Hello {{ request.session.user.name }}</h3>
                <button class="text-black text-xl font-thalia bg-white px-5 py-1 rounded-md transform hover:scale-110 transition ease-out self-center w-auto md:mt-0 mt-2">
                    <a href="/logout">Logout</a>
                </button>
            </div>
        {% endif %}
    </div>
</nav>
<body class="pistol bg-gold h-full">
<div class="container mx-auto">
    {% if request.session.user == None %}
        <section class="flex flex-col items-center justify-center mt-20">
            <h1 class="text-5xl text-primary font-thalia text-center">Welcome to the lustrum game!</h1>
            <h2 class="text-4xl text-primary font-thalia mt-10 text-center">Please login to see the game</h2>
        </section>
    {% else %}
        <div class="grid lg:grid-cols-2 grid-cols-1 lg:gap-16 gap-1 justify-center z-0 mb-10 mx-10 lg:mx-0">
            <section
                    class="items-center justify-center lg:mb-16 lg-0 mt-16 filter bg-primary drop-shadow-lg rounded-md {{ player_grey }}">
                <h1 class="text-center w-full text-3xl lg:text-4xl xl:text-5xl text-white font-thalia my-5">
                    Your target</h1>
                <div class="flex flex-col w-full">
                    {% if finished %}
                        <div class="w-full flex justify-center">
                            <h2 class="text-white text-center self-center mx-12 mb-10 my-0 lg:my-10 text-3xl lg:text-4xl font-thalia">
                                Congrats you
                                are the only one standing! <br><br> But don't be too excited, everyone will be revived
                                the next
                                day. </h2>
                        </div>
                    {% elif not target_name %}
                        <div class="w-full flex justify-center">
                            <h2 class="text-white text-center self-center mx-12 mb-10 my-0 lg:my-10 text-3xl lg:text-4xl font-thalia">
                                You don't
                                have a target now, if you see this once the game has begun please contact the
                                Lustrumcie</h2>
                        </div>
                    {% elif player_life_status %}
                        <div class="w-full flex justify-center">
                            <h2 class="text-white text-center self-center mx-12 mb-10 my-0 lg:my-10 text-3xl lg:text-4xl font-thalia">
                                You are now
                                dead.
                                <br><br> But don't worry! You will be revived by the next day. If you think this is
                                mistake please contact the
                                Lustrumcie</h2>
                        </div>
                    {% else %}
                        <div class="w-full">
                            <div class="mx-10 aspect-w-16 aspect-h-9 shadow shadow-lg">
                                <img class="rounded-md w-full h-full object-cover" src="{{ target_picture }}"
                                     alt="Victim picture"/>
                            </div>
                        </div>
                        <p class="text-3xl lg:text-4xl xl:text-5xl text-center text-white font-thalia my-5 ">{{ target_name }}</p>
                        <button id="kill_target"
                                class="self-center button bg-gold rounded-md p-3 text-white font-thalia text-2xl mb-5 transform hover:scale-110 transition ease-out w-5/12 lg:w-3/12 shadow shadow-lg"
                                style="display: block">
                            Killed target?
                        </button>
                        <div id="waiting_on_confirmation"
                             class="self-center button justify-center bg-gold rounded-md p-3 text-white text-center font-thalia text-lg md:text-2xl mb-5 transform hover:scale-110 transition ease-out w-10/12 md:w-1/2"
                             style="display: none">
                            <div class="flex flex-row self-center justify-center">
                                <div class="self-center loader w-10 h-10 mr-5"></div>
                                <div class="">
                                    <p class="self-center">Waiting on confirmation</p>
                                    <p class="self-center text-sm md:text-lg">Want to cancel? Click here</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </section>
            <section
                    class="items-center justify-center lg:mb-16 mb-0 mt-16 filter bg-primary drop-shadow-lg shadow shadow-lg rounded-md {{ player_grey }}">
                <h1 class="text-3xl lg:text-4xl xl:text-5xl text-center text-white font-thalia my-5 w-full">{{ user_name }}</h1>
                <div class="flex flex-col justify-center self-center w-full">
                    <div class="w-full">
                        <div class="mx-10 aspect-w-16 aspect-h-9 shadow shadow-lg">
                            <img class="rounded-md w-full h-full object-cover"
                                 src="{{ user_profile_picture }}" alt="Victim picture"/>
                        </div>
                        <h2 class="text-3xl lg:text-4xl text-center text-white font-thalia self-center m-5">Your
                            score {{ user_score }}</h2>
                        {% if player_life_status %}
                            <h2 class="text-3xl lg:text-4xl text-center text-white font-thalia self-center m-5">You are
                                currently
                                dead</h2>
                        {% else %}
                            <h2 class="text-3xl lg:text-4xl text-center text-white font-thalia self-center m-5">You are
                                currently
                                alive</h2>
                        {% endif %}
                    </div>
                </div>
            </section>
        </div>
    {% endif %}
</div>
<div id="modal_confirm" class="fixed top-0 left-0 z-20 w-full h-full transition ease-out modal bg-black bg-opacity-60"
     style="visibility: hidden; opacity: 0">
    <div class="flex w-full h-full justify-center">
        <div class="flex flex-col bg-white drop-shadow-lg self-center justify-center w-2/3 md:w-1/3 lg:w-1/5 rounded-md">
            <h1 class="font-thalia text-center text-3xl my-5">Are you sure?</h1>
            <div class="justify-center self-center grid grid-cols-2 gap-4">
                <button id="modal_button_confirm"
                        class="button bg-gold rounded-md p-3 text-white font-thalia text-2xl mb-5 transform hover:scale-110 transition ease-out">
                    confirm
                </button>
                <button id="modal_button_cancel"
                        class="button bg-gold rounded-md p-3 text-white font-thalia text-2xl mb-5 transform hover:scale-110 transition ease-out">
                    cancel
                </button>
            </div>
        </div>
    </div>
</div>
{#this is only here to trick tailwind that we have a grayscale class#}
<div class="grayscale"></div>
</body>
<script>

    const modal = $("#modal_confirm");
    const kill_button = $("#kill_target");
    const waiting = $("#waiting_on_confirmation");
    const modal_confirm = $("#modal_button_confirm");
    const modal_cancel = $("#modal_button_cancel");

    function reset() {
        if ({{ murder_waiting }}) {
            change_to_cancel_kill()
            kill_button.css("display", "none");
            waiting.css("display", "block");
        } else {
            change_to_kill()
            kill_button.css("display", "block");
            waiting.css("display", "none");
        }
    }

    kill_button.click((e) => {
        modal.css("visibility", "visible");
        modal.css("opacity", 1);
    });

    waiting.click((e) => {
        modal.css("visibility", "visible");
        modal.css("opacity", 1);
    });

    if ("{{ murder_confirmation }}" === "") {
        reset()
    } else {
        change_to_accept_kill()
    }

    function change_to_kill() {
        modal_cancel.unbind()
        modal_cancel.click((e) => {
            modal.css("visibility", "hidden");
            modal.css("opacity", 0);
        });

        modal_confirm.unbind()
        modal_confirm.click((e) => {

            kill_button.css("display", "none");
            waiting.css("display", "block");

            $.get(window.location.origin + "/api/kill_target", function (result) {
                modal.css("visibility", "hidden");
                modal.css("opacity", 0);

                change_to_cancel_kill();
            })
        });
    }

    function change_to_accept_kill() {
        modal.find('h1').html("{{ murder_confirmation }} has killed you")
        modal.find('h1').parent().append("<h1 class='text-lg font-thalia text-center mb-5'>If this is wrong please contact the lustrumcie</h1>")

        modal.css("visibility", "visible");
        modal.css("opacity", 1);

        modal_cancel.unbind()
        modal_cancel.click((e) => {
            modal.find('h1').first().text("Are you sure?");
            modal.find('h1').parent().find('h1').last().remove();
            change_to_cancel_kill();
        });

        modal_confirm.unbind()
        modal_confirm.click((e) => {
            modal.find('h1').first().text("Are you sure?");
            modal.find('h1').parent().find('h1').last().remove();

            modal_confirm.unbind()
            modal_confirm.click((e) => {
                $.get(window.location.origin + "/api/kill_target/confirm", function (result) {
                    modal.css("visibility", "hidden");
                    modal.css("opacity", 0);


                    reset();
                });
            });

            modal_cancel.unbind()
            modal_cancel.click((e) => {
                reset();
               change_to_accept_kill();
            });
        })
    }

    function change_to_cancel_kill() {
        modal_cancel.unbind();
        modal_cancel.click((e) => {
            modal.css("visibility", "hidden");
            modal.css("opacity", 0);
        });

        modal_confirm.unbind();
        modal_confirm.click((e) => {

            kill_button.css("display", "none");
            waiting.css("display", "block");

            $.get(window.location.origin + "/api/kill_target/cancel", function (result) {
                modal.css("visibility", "hidden");
                modal.css("opacity", 0);

                change_to_kill();
                kill_button.css("display", "block");
                waiting.css("display", "none");
            })
        });
    }

</script>
</html>
